{{#resume.basics}}
        <header>
            <div class="headerimgcontainer">
                {{#if picture}}
                <img class="imgHeader" src="{{picture}}"/>
                {{/if}}
            </div>
            <div class="headertextcontainer">
                <div class="headertext">
                    <span>
                        {{company}} -  
                    </span>
                    <span>
                        <a href="mailto:{{email}}">{{email}}</a>
                    </span>
                    <span>
                        - {{phone}}
                    </span>
                </div>
            </div>
        </header>
{{/resume.basics}}
